@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  transition: all 0.2s;
  background: #0070f3;
  transform-origin: 0;
  transform: scaleX(0);
  z-index: 9000;
}


code:hover {
  opacity: 1 !important;
}

pre > code {

  background: transparent;
  font-family: 'Fira Code', monospace;

}

code > * {
  font-size: 16px !important;
}

pre {
  padding: 0 !important;
}

div[data-rehype-pretty-code-title] {
  background: var(--nextui-colors-blue500);
  padding: 0.2rem 2rem;
}

.youtube_container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.youtube_frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.highlighted {
  background-color: var(--nextui-colors-blue100);
}

h2 {
  margin: 1.5rem 0 !important;
}

h3 {
  margin: 1.5rem 0 !important;
}

code {
  counter-reset: line;
}

code > .line::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}

td {
  color: var(--mextui-colors-accent200);
}
